In [21]:
import pandas as pd
import numpy as np
import seaborn as sn
import nltk
import os
nltk.download('punkt')
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt to C:\Users\juan
[nltk_data]     esteban\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to C:\Users\juan
[nltk_data]     esteban\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt_tab.zip.

True

In [2]:
df = pd.read_csv(r'Sentiment_Analysis/reviews.csv')
df.head()

,business_name,author_name,text,photo,rating,rating_category
0,Haci'nin Yeri - Yigit Lokantasi,Gulsum Akar,We went to Marmaris with my wife for a holiday...,dataset/taste/hacinin_yeri_gulsum_akar.png,5,taste
1,Haci'nin Yeri - Yigit Lokantasi,Oguzhan Cetin,During my holiday in Marmaris we ate here to f...,dataset/menu/hacinin_yeri_oguzhan_cetin.png,4,menu
2,Haci'nin Yeri - Yigit Lokantasi,Yasin Kuyu,Prices are very affordable. The menu in the ph...,dataset/outdoor_atmosphere/hacinin_yeri_yasin_...,3,outdoor_atmosphere
3,Haci'nin Yeri - Yigit Lokantasi,Orhan Kapu,Turkey's cheapest artisan restaurant and its f...,dataset/indoor_atmosphere/hacinin_yeri_orhan_k...,5,indoor_atmosphere
4,Haci'nin Yeri - Yigit Lokantasi,Ozgur Sati,I don't know what you will look for in terms o...,dataset/menu/hacinin_yeri_ozgur_sati.png,3,menu

In [3]:
df.shape

(1100, 6)

In [4]:
df_b = df.groupby(['business_name','rating']).size().unstack(fill_value=0)
df_b

rating              1  2  3  4  5
business_name
Abidin Tantuni      0  1  0  5  5
Ahsap Iskender      0  0  4  3  4
Akpinar Restaurant  3  0  1  3  4
Alavara             1  0  0  6  4
Alsancak Firin      0  1  2  3  5
...                .. .. .. .. ..
Tuana Restaurant    1  0  1  7  2
Umut Pide           1  0  2  3  5
Vefa Bozacisi       1  0  2  3  5
Yesemek             1  0  0  2  8
Zula                0  1  1  2  7

[100 rows x 5 columns]

In [5]:
df_b.dtypes

rating
1    int64
2    int64
3    int64
4    int64
5    int64
dtype: object

In [6]:
df['rating'].value_counts()

rating
5    460
4    316
3    172
1     80
2     72
Name: count, dtype: int64

BASIC NLTK

In [22]:
example = df['text'][100]
example

'I would like to thank the service in Fethiye branch and especially Mr. Samet; the official here, for his interest and relevance.'

In [24]:
tokens = nltk.word_tokenize(example, language="english")
tokens[:10]

['I',
 'would',
 'like',
 'to',
 'thank',
 'the',
 'service',
 'in',
 'Fethiye',
 'branch']